<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar por nombre"
        [(ngModel)]="nombre"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="buscarNombre()"
        >
          Buscar
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Lista de Estudiantes</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let alumno of alumnos; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveAlumno(alumno, i)"
      >
        {{ alumno.nombre }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllAlumnos()">
      Eliminar todos los registros
    </button>
  </div>
  <div class="col-md-6">
    <app-alumno-details
      [viewMode]="true"
      [currentAlumno]="currentAlumno"
    ></app-alumno-details>
  </div>
</div>
